apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-pr-reviewer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ai-pr-reviewer
  template:
    metadata:
      labels:
        app: ai-pr-reviewer
    spec:
      containers:
        - name: ai-pr-reviewer
          image: avani16/ai-pr-reviewer:latest
          ports:
            - containerPort: 8000

          readinessProbe:
            httpGet:
              path: /docs
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /docs
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 20
