apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-pr-reviewer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ai-pr-reviewer
  template:
    metadata:
      labels:
        app: ai-pr-reviewer
    spec:
      containers:
        - name: ai-pr-reviewer
          image: avani16/ai-pr-reviewer:latest
          ports:
            - containerPort: 8000
livenessProbe:
  httpGet:
    path: /health
    port: 8000
  initialDelaySeconds: 20
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /health
    port: 8000
  initialDelaySeconds: 10
  periodSeconds: 5

  resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "256Mi"

